<h3>RxJS POC - Unsubscribe</h3>

<form class="row">
  <div class="col-auto">
    <input #inputValue type="text" class="form-control" placeholder="Value" aria-label="Value">
  </div>
  <div class="col-auto">
    <button (click)="emitValue(inputValue.value)" type="button" class="btn btn-outline-primary me-1">
      Emit Value
    </button>
    <button (click)="destroyComponents()" type="button" class="btn btn-outline-danger">
      Show / Destroy Components
    </button>
  </div>
</form>

<div class="row" *ngIf="showComponents">
  <app-poc class="col-4"></app-poc>
  <app-poc-unsubscribe class="col-4"></app-poc-unsubscribe>
  <app-poc-async class="col-4"></app-poc-async>
  <app-poc-take-until class="col-4"></app-poc-take-until>
  <app-poc-take class="col-4"></app-poc-take>
</div>
